:root {
    --fonteTamanho: clamp(1rem, 1vw + 0.75rem, 1.5rem);
    --fonteFamilia: 'Inter', sans-serif;
} 

.background {
    background-color: #817e8f; 
    min-height: 100vh;         
    width: 100%;
    display: flex;             
    justify-content: center;
    align-items: center;
}

.titulo{
    margin: 0px; padding: 0px;
    text-align: center;
    font-family: var(--fonteFamilia);
    font-size: clamp(2rem, 1vw + 1rem, 3rem);
}


.form-requisicao{
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 10px;
}

.inputManutencao{
    font-size: var(--fonteTamanho);
    font-family: var(--fonteFamilia);
}