<nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top">
  <div class="container-fluid">
    <button class="nav-link btn btn-link" (click)="getHome()">
      ManuTads
    </button>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <button class="nav-link btn btn-link" (click)="getHome()">
            Home
          </button>
        </li>
        <li class="nav-item">
          <button class="nav-link btn btn-link" (click)="getManterEquipamento()">
            Manter Equipamento
          </button>
        </li>
        <li class="nav-item">
          <button class="nav-link btn btn-link" (click)="getManterFuncionario()">
            Manter Funcionário
          </button>
        </li>
        <li class="nav-item">
  <a class="nav-link fw-bold" style="cursor: pointer;" [routerLink]="['/funcionario/orcamento-financeiro']">
    Orçamentos / Financeiro
  </a>
</li>
      </ul>
      <div class="d-flex align-items-center gap-2">
        <span class="nav-link">Olá {{username}}!</span>
        <button class="btn btn-outline-danger" type="button" (click)="getLogout()">Sair</button>
      </div>
    </div>
  </div>
</nav>


  <router-outlet></router-outlet>
  