.bg-brown { background-color: #8B4513 !important; }    /* ORÇADA */
.bg-purple { background-color: #6f42c1 !important; }   /* REDIRECIONADA */
.bg-orange { background-color: #fd7e14 !important; }   /* PAGA */